<div class="ui stackable two column grid">
    <div class="column">
        <h1 class="ui header">
            <i class="circular plus icon"></i>
            <div class="content">
                {{ 'odiseo_sylius_rbac_plugin.ui.new_administration_role'|trans }}
            </div>
        </h1>
    </div>
</div>
